<!DOCTYPE html>
<html>
    <head>
        <title>void#0001 &bull; Home</title>
        <link rel="icon" href="https://cdn.discordapp.com/avatars/229552088525438977/a_9ff9b6c4bf9c6b693cd28d3c04777972.gif?size=1024" />
        <link rel="stylesheet" href="css/index.css" /> <!-- ModestaCSS Helpers uwu -->
        <link rel="stylesheet" href="https://modesta.alexflipnote.xyz/css/modesta.min.css" /> <!-- ModestaCSS -->
    </head>
    <body>
            <section class="fullscreen">
                <div class="center-object">
                    <section class="me">
                        <img draggable="false" src="https://cdn.discordapp.com/avatars/229552088525438977/a_9ff9b6c4bf9c6b693cd28d3c04777972.gif?size=1024" class="image-title" />
                        <h1 class="title">void</h1>
                        <span class="undertitle">A weeb developer from Australia!</span>
                    </section>
                    <div class="buttons">
                        <a href="https://github.com/ry0id" class="btn hover nephritis" target="_blank">GitHub</a>
                        <a href="https://discord.gg/9Qu7aXe" class="btn hover amethyst-nodark" target="_blank">Main Project Hub (voidhub)</a>
                        <a href="https://discord.gg/VBjRs65" class="btn hover emerald" target="_blank">Animu League Discord Server</a>
                    </div>
                </div>
            </section>
    </body>
</html>